-
    const logosList1 = [
        {
            'image': 'https://i.ibb.co/HfG6H83b/LogoAxa.jpg',
            'alt' : 'logo AXA assurance' 
        },
        {
            'image':'https://i.ibb.co/ycTrKBhf/LogoSMA.jpg',
            'alt':'logo SMA btp'
        },
        {
            'image':'https://i.ibb.co/Z1bGydsp/LogoDLM.jpg',
            'alt':'logo DLM location'
        },
        {
            'image':'https://i.ibb.co/7NjjDVw2/Logo-Concilian.jpg',
            'alt':'logo Concilian'
        }
    ]
-
    const logosList2 = [
        { 
            'image':'https://i.ibb.co/WWSmKvXZ/Logo-Messange-1.jpg',
            'alt':'logo Mésange Prévoyance'
        },
        {
            'image':'https://i.ibb.co/BKQL2JSn/Logo-Henner.jpg',
            'alt':'logo groupe Henner'
        },
        {
            'image':'https://i.ibb.co/67qk3wMt/Logo-Allianz.jpg',
            'alt':'logo Allianz assurance'
        },
        {
            'image':'https://i.ibb.co/S4G3mtg9/Logo-Credit-Agricole.jpg',
            'alt':'logo Crédit Agricole'
        }
    ]
-   
    const logosList3 = [
        {
            'image':'https://i.ibb.co/wFkbN3qf/Logo-Swiss.jpg',
            'alt':'logo couleur Swiss Life'
        },
        {
            'image':'https://i.ibb.co/gbt1vJpF/Logo-Humanis-1.jpg',
            'alt':'logo couleur Humanis Malakoff'
        },
        {
            'image':'https://i.ibb.co/BVR6w4C4/Logo-Sofinco-1.jpg',
            'alt':'logo couleur Sofinco'
        },
        {
            'image':'https://i.ibb.co/012S4CR/Logo-Deledalle.jpg',
            'alt':'logo couleur Deledalle courtier d\'assurances'
        }
    ]
-
    const logosList4 = [
        {
            'image':'https://i.ibb.co/LDmH5byb/Logo2-M-1.jpg',
            'alt':'logo 2M votre courtier assurancess'
        },
        {
            'image':'https://i.ibb.co/WNv8BHGg/logoMMA.jpg',
            'alt':'logo MMA assurance'
        },
        {
            'image':'https://i.ibb.co/F4rDBWgZ/Logo-Diot-1.jpg',
            'alt':'logo Diot groupe Diot Siaci'
        },
        {
            'image':'https://i.ibb.co/F4PPfbMS/Logo-Caisse-Epargne-1.png',
            'alt':'logo Caisse d\'Épargne'
        }
    ]

mj-section(background-color="#586c8d" padding-left="23px" padding-right="23px" padding-bottom="10px")
    mj-column(width="100%")
        //-mj-text(padding="0px 2px" align='left' font-size='14px' font-weight='900' color='#0a0c10' line-height='18px' text-transform='uppercase' letter-spacing='1px') Apprentissage
        mj-text(padding="0px 2px" align='left' font-size='20px' font-weight='700' line-height='24px' color='#EDF2F7') Entreprises accueillant nos étudiants en apprentissage
mj-section(background-color="#586c8d" padding="0px 23px")
    mj-group(width="50%")
        each logo in logosList1
            mj-column(width="25%" background-color="#586c8d" padding="2px")
                mj-image(padding="0" fluid-on-mobile="true" width="300px" src=logo.image alt=logo.alt)/
    mj-group(width="50%")
        each logo in logosList2
            mj-column(width="25%" background-color="#586c8d" padding="2px")
                mj-image(padding="0" fluid-on-mobile="true" width="300px" src=logo.image alt=logo.alt)/
    mj-group(width="50%")
        each logo in logosList3
            mj-column(width="25%" background-color="#586c8d" padding="2px")
                mj-image(padding="0" fluid-on-mobile="true" width="300px" src=logo.image alt=logo.alt)/
    mj-group(width="50%")
        each logo in logosList4
            mj-column(width="25%" background-color="#586c8d" padding="2px")
                mj-image(padding="0" fluid-on-mobile="true" width="300px" src=logo.image alt=logo.alt)/
    mj-group(width="50%")
            mj-column(width="25%" background-color="#586c8d" padding="2px")
                mj-image(align="left" padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/rKV2QH1n/Logo-Vespieren.jpg" alt="logo des Assurances Vespieren")/
            mj-column(width="25%" background-color="#586c8d" padding="2px")
    mj-group(width="50%")